{% extends "blog/base.html" %}
{% block content %}
	{% for post in posts %}
        <article class="media content-section couleurarriere blacktext">
          <img class="rounded-circle article-img"src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2 montitre" href="{% url 'profile' %}">{{ post.author }}</a>
              <small class="contact_details blacktext">{{ post.date_posted|date:"F d, Y"}}</small>
            </div>
            <h2><a class="article-title blacktext" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
